.tagline
{
	text-align:center;
 	width:auto; 	
 	margin-top:5px;
      font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
      font-size:32px; 
      letter-spacing:1px;
      font-weight:bold;
}